# macOS
.DS_Store
*.icloud

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
cython_debug/

# PyCharm
.idea/

# ruff
.ruff_cache/

# LSP config files
pyrightconfig.json

# Project specific
config.ini
data.db
.vscode/